<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874529082848-ss4ua7sut12cqrqpjesv4riqcjc13of1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874529082848-ss4ua7sut12cqrqpjesv4riqcjc13of1</string>
	<key>API_KEY</key>
	<string>AIzaSyBmRmttwneCJWXdidgRkHsV5F1hM0uPXeI</string>
	<key>GCM_SENDER_ID</key>
	<string>874529082848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled5</string>
	<key>PROJECT_ID</key>
	<string>untitled5-bd768</string>
	<key>STORAGE_BUCKET</key>
	<string>untitled5-bd768.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874529082848:ios:2d0e600da2a5172bd02f85</string>
</dict>
</plist>